.contact-us-container {
    max-width: 800px;
    margin: 15px auto;
    padding: 40px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .contact-details {
    margin-bottom: 30px;
  }
  
  .contact-details h2 {
    margin-bottom: 10px;
  }
  
  .contact-details p {
    margin: 5px 0;
  }
  
  .contact-details p strong {
    font-weight: bold;
  }
  
  .contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    resize: vertical;
  }
  
  .contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3b5998;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #293e69;
  }
 /* In ContactUs.css */
.delivery-info {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.delivery-info h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.delivery-info p {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.delivery-info p:last-child {
  margin-bottom: 0;
}

/* Emphasize points */
.delivery-info .emphasize {
  font-weight: bold;
  color: #20f0e2; /* Blue color for emphasis */
  position: relative;
  overflow: hidden;
}

.delivery-info .emphasize::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #a5d3d0); /* Gradient from transparent to blue */
  animation: slide 2s linear infinite; /* Animation */
}

@keyframes slide {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
