.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #a5d3d0;
  color: #fff;
}

.logo {
  width: 90px; /* Adjust as needed */
  height: 80px;
  margin: 0;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navItem {
  margin-left: 20px;
}

.navLink {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.mobilemenu{
  display: none;

 
}
@media only screen and (max-width: 600px) {
  .navList {
    display: none; /* Hide the navigation items for mobile devices */
  }
  .mobilemenu{
    display: block;
    z-index: 1000;
  }
  .menu{
    background-color: #a5d3d0;
  }
}